<!DOCTYPE html>
<html>
<head>
    <title>HTML 5</title>
    <link href="../../Content/themes/html%205.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
       
      <h1><img src=Hat.jpg alt = "Заголовок" /></h1>  
        
    </header>
    <nav>
    <hr />   
        <ul class = "nav">
            <li>@Html.ActionLink("Новости", "Index", "Home")</li>
            <li>@Html.ActionLink("Новости", "Index", "Home")</li>
            <li>@Html.ActionLink("Новости", "Index", "Home")</li>
            <li>@Html.ActionLink("Контакты", "Cont", "Home")</li>
        </ul>
        <hr />   
    </nav>
    <section>
        <article>
            <h2>День Велосипеда (англ. Bicycle Day) — 19 апреля 1943 </h2>
            <div class = "blockRamka"></div>
            <h3>В этот день все велосипедисты тудой-сюдой, отсюда и до сюда.</h3>
		
        </article>
        
        <aside>Эта новость опубликована <time datetime="2015-04-07">19 апреля 2015 года</time></aside>
    </section>
    <div class = "block"></div>
    <footer>
    <hr />   
	Rumgaz Rolla 2015
    </footer>
</body>
</html>