<head>
<meta charset="utf-8" />
<title>Привет!</title>
<script src="/Scripts/FUNK.js"></script>
</head>
<body>
<header>
<h1 align="center">Hello!</h1>
</header>
<form>
<p><input type="button" value=" click me " onclick="Msg()"></p>
<input id="Text1" type="text" /> <input id="Button1" type="button" value="button" onclick="KoKo()" />
</form>
</body>
</html>